apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: frontend
  name: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      service: frontend
      api: external
  template:
    metadata:
      labels:
        service: frontend
        api: external        
    spec:
      containers:
      - image: dockerahmedramadan/udacity-c3-frontend:v1
        name: frontend
        imagePullPolicy: Always          
        ports:
        - containerPort: 80                
      restartPolicy: Always

